:root{
    --nav-background-color:rgb(223, 197, 53);
    --text-color:rgb(223, 197, 53);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: white;
}

img{
    display: block;
}

nav{
    background-color: var(--nav-background-color);
    padding: 0.7rem;
    display: flex;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
    color: var(--nav-background-colors);
    font-size: 1.5rem;
    font-weight: 600;
    position: sticky;
    top: 0;
    margin-bottom: 1rem;
    z-index: 999;
}

nav div{
    color: black;
    padding: 0.15rem;
    cursor: pointer;
}

nav div:hover{
    cursor:pointer;
    color: white;
    transform: scale(1.1); 
}

.search{
 display: flex;
 flex-direction: column;
 max-width: 35rem; 
 padding: 3rem;
 gap: 1.5rem;
}

.searchInput{
    color: var(--text-color);
    background-color: black;
    border: 0.1rem solid var(--text-color);
    border-radius: 1rem;
    padding: 0.2rem;
}

.searchBtn{
    background-color: var(--text-color);
    padding: 0.3rem;
    border-radius: 1rem;
    border: none;
}

.searchBtn:hover{
    cursor:pointer;
    background-color: rgb(223, 197, 80); 
    color: white;
    transform: scale(1.1); 
    box-shadow: 0 8px 12px rgba(187, 177, 41, 0.4); 
}

a{
    text-decoration: none;
    color: black;
    padding: 0.15rem;
    cursor: pointer;
}

a:hover{
    cursor:pointer;
    color: white;
    transform: scale(1.1); 
}

.icon{
    height: 50px;
    width: 70px;
    border-radius: 20%;
    background-color: var(--nav-background-color);
}

.icon:hover{
    cursor:pointer;
    color: white;
    transform: scale(1.1); 
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    justify-content: center;
    align-content: space-around;
    gap: 20px; 
    justify-items: center; 
    align-items: start;
}

.movieCard{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    width: 100%; 
    height: 100%;  
    max-width: 200px;   
}

.movieCard img{
    width: 100%; 
    height: auto; 
}

.movieInner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;  
    transition: transform 1.5s ease; 
    margin-bottom: 20rem;
}

.movieCard:hover .movieInner {
    transform: rotateY(180deg); 
}

.movieFront, .movieBack {
    position: absolute;
    width: 100%;
    backface-visibility: hidden; 
}

.movieFront {
    z-index: 2;
    transform: rotateY(0deg);
}

p{
    font-size: 1.1rem;
    height: 1.5rem;
    color: var(--text-color);
    font-weight: 600;
}

.rate{
    margin-block: 1rem;
}

.fav{
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: var(--text-color);
    border: none;
    margin-bottom: 5rem;
}

.fav span{
    color: black;
}

.fav span:hover{
    color: white;
}

.star-icon {
    font-size: 50px;
    color: transparent;
    border: 2px solid gold;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: color 0.3s, border 0.3s;
}

span{
    color: var(--text-color);
    font-weight: 600;
}

.fav:hover{
    cursor:pointer;
    background-color: rgb(223, 197, 80); 
    transform: scale(1.1); 
    box-shadow: 0 8px 12px rgba(187, 177, 41, 0.4); 
}

.movieBack {
    transform: rotateY(180deg);
    background-color: white; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem; 
    overflow: hidden; 
    height: 300px;
}

.movieAbout {
    font-size: 1.1rem;
    color: var(--text-color);
    text-align: center;
    max-height: 270px; /* גובה מקסימלי לאזור הגלילה */
    overflow-y: auto; /* מאפשר גלילה אנכית */
    padding: 0.5rem;
}

.movieBack::-webkit-scrollbar {
    border: 3px solid pink; /* הגדרת רוחב של פס הגלילה */
}

.movieBack::-webkit-scrollbar-thumb {
    background-color: var(--text-color); /* צבע פס הגלילה */
    border-radius: 5px;
}


h2{
    margin-bottom: 0.3rem;
}

section{
    display: flex;
    flex-direction: column;
    gap: 2rem
}

section p{
    margin-bottom: 5rem;
}

.aboutImg{
display: flex;
height: 350px;
justify-content: center;
margin-bottom: 2rem;
}

.pages{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 1rem;
    padding: 2rem;
}

.pages button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding: 1rem;
    background-color: var(--nav-background-color);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: none;
}

.pages button:hover{
    cursor:pointer;
    background-color: rgb(223, 197, 80); 
    color: white;
    transform: scale(1.1); 
    box-shadow: 0 8px 12px rgba(187, 177, 41, 0.4); 
}

.selected{
    cursor:pointer;
    background-color: rgb(223, 197, 80); 
    color: white;
    transform: scale(1.1); 
    box-shadow: 0 8px 12px rgba(187, 177, 41, 0.4);
}

.hidden{
    display: none;
}

.orderMovie{
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100%;
    width: 100%;
    gap: 5rem;
}

.movieDetails{
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

.OrderImg{
   height: 34rem;
}

.OrderImg img{
    height: 100%;
}

.OrderTitle{
    font-size: 5rem;
    color: var(--text-color);
}

.OrderInfo{
    font-size: 1.4rem;
}

.OrderRating{
    margin-bottom: 4rem;
}

.OrderRating span{
    grid-row: span 2;
    font-size: 1.4rem;
    margin-right: 1rem;
}


h2{ 
    margin-bottom: 1.5rem;
    font-size: 2rem;
    color: var(--text-color);
}

#date{
    margin-right: 1rem;
}

#city{
    margin-right: 1rem;
}

label{
    font-size: 1.5rem;
    color: var(--text-color);
}

.orderBtn{
   margin-left: 1rem;
   padding: 0.4rem;
   border-radius: 1rem;
   background-color: var(--text-color);
   border: none;
   cursor: pointer;
}

.orderBtn:hover{
    background-color: rgb(223, 197, 80); 
    color: white; 
    transform: scale(1.1); 
    box-shadow: 0 8px 12px rgba(187, 177, 41, 0.4); 
}

h1{
    color: var(--text-color);
    text-align: center;
    padding: 1rem;
}

.nameOrder{
font-size: 1.5rem; 
margin-bottom: 1rem;
color: var(--text-color);
}

.showOrders{
display: grid;
grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
margin-bottom: 0.5rem;
padding: 1rem;
}

.showOrders span{
    font-size: 1.2rem;
    margin-right: 0.7rem;
}


