:root{
    --nav-background-color:rgb(223, 197, 53);
    --text-color:rgb(223, 197, 53);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: white;
}

img{
    display: block;
}

nav{
    background-color: var(--nav-background-color);
    padding: 0.7rem;
    display: flex;
    align-items: center;
    gap: 1.3rem;
    color: var(--nav-background-colors);
    font-size: 1.4rem;
    font-weight: 600;
    position: sticky;
    top: 0;
    margin-bottom: 1rem;
    z-index: 999;
}

nav div{
    background-color: hsl(51, 73%, 37%);
    color: black;
    padding: 0.15rem;
    border-radius: 2rem;
}

.search{
    margin-left: auto;
    background-color: var(--nav-background-color);
}

a{
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
    font-weight: 600;
    background-color: hsl(51, 73%, 37%);
    padding: 0.15rem;
    border-radius: 2rem;
}

.icon{
    height: 50px;
    width: 50px;
    background-color: var(--nav-background-color);
}

a .icon{
    background-color: var(--nav-background-color);
    padding: 0;
    border-radius: 0;
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    justify-content: center;
    align-content: space-around;
    gap: 20px; 
    justify-items: center; 
    align-items: start;
}

.movieCard{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    width: 100%; 
    height: 100%;  
    max-width: 200px;   
}

.movieCard img{
    width: 100%; 
    height: auto; 
}

.movieInner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;  
    transition: transform 1.5s ease; 
    margin-bottom: 20rem;
}

.movieCard:hover .movieInner {
    transform: rotateY(180deg); 
}

.movieFront, .movieBack {
    position: absolute;
    width: 100%;
    backface-visibility: hidden; 
}

.movieFront {
    z-index: 2;
    transform: rotateY(0deg);
}

p{
    font-size: 1.1rem;
    height: 1.5rem;
    color: var(--text-color);
    font-weight: 600;
}

.rate{
    margin-block: 1rem;
}

.fav{
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: var(--text-color);
    border: none;
    margin-bottom: 5rem;
}

span{
    color: var(--text-color);
    font-weight: 600;
}

.searchBtn{
    background-color: var(--text-color);
    padding: 0.5rem;
    border-radius: 1rem;
}

.fav:hover{
    cursor:grab;
}

.movieBack {
    transform: rotateY(180deg);
    background-color: white; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem; 
    overflow: hidden; 
    height: 300px;
}

.movieAbout {
    font-size: 1.1rem;
    color: var(--text-color);
    text-align: center;
    max-height: 270px; /* גובה מקסימלי לאזור הגלילה */
    overflow-y: auto; /* מאפשר גלילה אנכית */
    padding: 0.5rem;
}

.movieBack::-webkit-scrollbar {
    border: 3px solid pink; /* הגדרת רוחב של פס הגלילה */
}

.movieBack::-webkit-scrollbar-thumb {
    background-color: var(--text-color); /* צבע פס הגלילה */
    border-radius: 5px;
}


h2{
    margin-bottom: 0.3rem;
}

section{
    display: flex;
    flex-direction: column;
    gap: 2rem
}

section p{
    margin-bottom: 5rem;
}

.aboutImg{
display: flex;
height: 350px;
justify-content: center;
margin-bottom: 2rem;
}

.pages{
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
}

.pages button{
    padding: 1rem;
    background-color: var(--nav-background-color);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.hidden{
    display: none;
}
