.nutriton-container{
    display: flex;
    width: 15rem;
    justify-content: space-between;
}

.nutriton-name span{
    font-weight: normal;
}
.nutriton span{
    color: var(--title-color);
    font-weight: 600;
}

.nutrition hr{
    margin-block: 1rem;
}

