.preTime{
    background-color: var(--pre-Card);
    padding-inline:  2rem;
    padding-block: 0.5rem;
    margin-block: 1.5rem;
}

.preTitle{
    color: var(--title-card-color);
    font-size: 1.2rem;
    font-weight: 600;
}

span{
    font-weight: 600;
}

li{
    margin-bottom: 0.5rem;
}