.counter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #548856;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 1);
  }
  
  button:active {
    transform: scale(0.95);
  }
  
  button:disabled {
    background-color: #dcdcdc;
    cursor: not-allowed;
  }
  
  p {
    font-size: 2rem;
    margin: 0;
    color: #444;
    min-width: 50px;
    text-align: center;
    font-weight: bold;
  }